*{
    margin: o;
    padding: 0;
    box-sizing: border-box;

}
header{
    background-color: rgb(255, 217, 127);
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
}
main{
    background-color: aqua;
    height: 80vh;
}
footer{
    background-color: bisque;
    height: 20vh;
}