*{
    margin: o;
    padding: 0;
    box-sizing: border-box;

}
header{
    background-color: rgb(255, 217, 127);
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
}
main{
    background-color: aqua;
    height: 60vh;
    color: rgb(68, 13, 248);
    display: flex;
    border: 1px border solid black;

}
footer{
    background-color: bisque;
    height: 20vh;
    display: flex;
}
article{
    border: 1px border solid black;
    background-color: rgb(234, 85, 85);
    width: 250px;
}
#article1{
    background-color: rgb(213, 188, 204);
}